@import './functions';
@import './variables';


// Mixins
@mixin card-colors($color4) {
  .color {
    background-color: $color4;
  }
  &:hover {
    background-color: $color4;
    .name{
      color: $font-color;
    }
    .description{
      color: $font-color;
    }
  }
}