// Colors
$bg-color: #ffffff;
$hd-color: #22577a;
$elements-bg-color: #57cc99;
$font-color: #000000;
$card-color: #22577a;
$br-color: #000000;


// Size
$container-with: 1000px;
$card-with: 212px;
$card-height: 300px;
$header-height: 40px;
$br-radius: 5px;
$logo-size: 50px;
$icon-size: 25px;

$count: 5;
