@import './variables';
@import './mixins';
@import './functions';


.container {
  max-width: $container-with;
  margin: 0 auto;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    background-color:$hd-color;
    .name{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img{
        max-width: $logo-size;
        height: auto;
      }
      .title {
        font-size: 24px;
        font-weight: bold;
        color: $bg-color;
      }
    }
    .button {
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 5px;
      border: none;
      border-radius: $br-radius;
      cursor: pointer;
      height: 70%;
      font-weight: bold;
      background-color: $elements-bg-color;
    }
  }


  main{
    h1 {
      font-size: 36px;
      font-weight: bold;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 5%;
        .card {
          @for $i from 1 through $count {
            &:nth-child(#{$i}n) {
              @include card-colors(
                lighten($card-color, $i * 10%),
              );
            }
          }
          display: flex;
          margin-bottom: 20px;
          flex-direction: column;
          justify-content: space-between;
          width: $card-with;
          height: $card-height;
          border-radius: $br-radius;
          .color {
            display: flex;
            justify-content: left;
            align-items: flex-start;
            width: 100%;
            height: 80%;
            .type{
              text-align: center;
              border-radius: $br-radius;
              margin: 10px;
              padding: 3px;
              background-color: $elements-bg-color;
            }
          }
          .name{
            font-weight: bold;
          }
      }
  }
}

  footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    .contact{
      display: flex;
      width: 10%;
      justify-content: space-between;
      img {
        max-width: $icon-size;
        height: auto;
      }
    }
  }
}

