.container {
  max-width: 1000px;
  margin: 0 auto; }
  .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #22577a; }
    .container header .name {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .container header .name img {
        max-width: 50px;
        height: auto; }
      .container header .name .title {
        font-size: 24px;
        font-weight: bold;
        color: #ffffff; }
    .container header .button {
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      height: 70%;
      font-weight: bold;
      background-color: #57cc99; }
  .container main h1 {
    font-size: 36px;
    font-weight: bold; }
  .container main .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5%; }
    .container main .cards .card {
      display: flex;
      margin-bottom: 20px;
      flex-direction: column;
      justify-content: space-between;
      width: 212px;
      height: 300px;
      border-radius: 5px; }
      .container main .cards .card:nth-child(1n) .color {
        background-color: #2d73a2; }
      .container main .cards .card:nth-child(1n):hover {
        background-color: #2d73a2; }
        .container main .cards .card:nth-child(1n):hover .name {
          color: #000000; }
        .container main .cards .card:nth-child(1n):hover .description {
          color: #000000; }
      .container main .cards .card:nth-child(2n) .color {
        background-color: #3a90c8; }
      .container main .cards .card:nth-child(2n):hover {
        background-color: #3a90c8; }
        .container main .cards .card:nth-child(2n):hover .name {
          color: #000000; }
        .container main .cards .card:nth-child(2n):hover .description {
          color: #000000; }
      .container main .cards .card:nth-child(3n) .color {
        background-color: #62a6d3; }
      .container main .cards .card:nth-child(3n):hover {
        background-color: #62a6d3; }
        .container main .cards .card:nth-child(3n):hover .name {
          color: #000000; }
        .container main .cards .card:nth-child(3n):hover .description {
          color: #000000; }
      .container main .cards .card:nth-child(4n) .color {
        background-color: #8abdde; }
      .container main .cards .card:nth-child(4n):hover {
        background-color: #8abdde; }
        .container main .cards .card:nth-child(4n):hover .name {
          color: #000000; }
        .container main .cards .card:nth-child(4n):hover .description {
          color: #000000; }
      .container main .cards .card:nth-child(5n) .color {
        background-color: #b2d3e9; }
      .container main .cards .card:nth-child(5n):hover {
        background-color: #b2d3e9; }
        .container main .cards .card:nth-child(5n):hover .name {
          color: #000000; }
        .container main .cards .card:nth-child(5n):hover .description {
          color: #000000; }
      .container main .cards .card .color {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        width: 100%;
        height: 80%; }
        .container main .cards .card .color .type {
          text-align: center;
          border-radius: 5px;
          margin: 10px;
          padding: 3px;
          background-color: #57cc99; }
      .container main .cards .card .name {
        font-weight: bold; }
  .container footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0; }
    .container footer .contact {
      display: flex;
      width: 10%;
      justify-content: space-between; }
      .container footer .contact img {
        max-width: 25px;
        height: auto; }

/*# sourceMappingURL=style.css.map */
